@model NW.Entity.Topicforum
@{
    ViewBag.Title = "添加主题";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <span>发布新的主题</span>
    @using (Html.BeginForm("Add", "Forum", FormMethod.Post, new { id = "myform" }))
            {
        @Html.AntiForgeryToken()
        <div style="margin-top:100px;width:500px;height:auto">
            <input type="text" placeholder="标题" name="title" id="platetitle">
            <select name="classify" id="plateforumId" class="classify">
                @*@if (ViewBag.plateforumId != 0)
                {
                    <option value="@ViewBag.plateforumId">@ViewBag.ptitle</option>
                }
                else
                {*@
                    <option value="">请选择模块</option>
                    @foreach (var plateforumlist in ViewBag.plateforumlist)
                    {
                        <option value="@plateforumlist.Id">@plateforumlist.Title</option>
                    }
                @*}*@
            </select>
        </div>
            <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">

        </script>
        <div>
            <span>@Html.ValidationSummary(true)</span>
            <input type="button" onclick="submitForm()" value="发布帖子">
        </div>
    }
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Scripts/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Scripts/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container', { initialFrameHeight: 320 });
    </script>
    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <script>
            alert("请先登录!");
        </script>
    }
    @*<script>
            var user = $("#hdusername").val();
            if (user == undefined) {
                alert("请先登录，再进行发布！")
                CastMsg("请先登录，再进行发布！");
            }
        </script>*@
</div>