@model PagedList.IPagedList<NW.Entity.Topicforum>
@using PagedList.Mvc
@{
    ViewBag.Title = "论坛";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <header id="header">
    </header>
    <div class="inner-box">
        <span>热门板块：</span>
        @foreach (var item in ViewBag.Plateforums)
        {
            <a href="#">@item.Title</a>
        }
    </div>
    <a href="/Forum/Add"><strong>我要发布</strong></a>
    @foreach (var item in Model)
    {
        <div class="inner-box">
            <div>
                <h2><a href="/Forum/Show/@item.Id">@item.Title</a></h2>
                作者：@item.User.Username 所属板块：@item.Plateforum.Title  发表时间：@item.Time  浏览量： @item.Browses  举报：@item.Report
            </div>
            <div class="top-info-wrap">
                @Html.Raw(@item.Content)
            </div>
        </div>
    }
</div>