@model PagedList.IPagedList<NW.Entity.Topicforum>
@using PagedList.Mvc
@{
    ViewBag.Title = "论坛";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-9">
            <div class="inner-box" style="line-height:34px">
                <span>热门板块：</span>
                @foreach (var item in ViewBag.Plateforums)
                {
                    <a href="#" style="margin-right:10px;">@item.Title</a>
                }
                <a href="/Forum/Add" class="pull-right btn btn-primary"><strong>我要发布</strong></a>
            </div>
            
            @foreach (var item in Model)
            {
                <div class="inner-box">
                    <div class="article-header">
                        <h2><a href="/Forum/Show/@item.Id">@item.Title</a>
                        </h2>
                        <div class="article-header-info">
                            <ul class="sub-item-ul text-muted">
                                <li>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    <span class="text-success">@item.User.Username</span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span class="text-info">@item.Time</span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                    <span class="text-success">@item.Plateforum.Title</span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                                    <span class="text-info">@item.Browses</span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                    <span class="text-danger">@item.Report</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="article-content markdown-body">
                        @Html.Raw(@item.Content)
                    </div>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index?" + @ViewBag.AttachUrl, new { page }))
        </div>
        <aside class="col-md-3">
            <section class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>签到</strong></h3>
                </div>
                <div id="categories" class="list-group">
                </div>
            </section>
            <section class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>板块列表</strong></h3>
                </div>
                <div id="recent_posts" class="list-group">
                    @foreach (var item in ViewBag.plateforums)
                    {
                        <a class="list-group-item" href="#">@item.Title</a>
                    }
                </div>
            </section>
        </aside>
    </div>
</div>
