@using NW.Entity
@using NW.Entity.DataModels;
@model NW.Entity.User
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = @ViewBag.CurrentUser as User;
}

<div class="container top-1-8">
    <div class="row ">
        <div class="inner-box col-lg-8">
            <h2>我的打赏</h2>
        </div>
        <div class="inner-box col-lg-3 left-0-1 center-block">
            <img src="@Model.Photo" class="face-1 face" />
            <ul class="list-group top-0-1">
                <li class="list-group-item">@Model.Username</li>
                <li class="list-group-item">@Model.Email</li>
                <li class="list-group-item">@CommonString.RoleDisplay[Model.RoleAsInt]</li>
                @if (!string.IsNullOrEmpty(Model.Program))
                {
                    <li class="list-group-item">@Model.Program</li>
                }
                @if (!string.IsNullOrEmpty(Model.QQ))
                {
                    <li class="list-group-item">@Model.QQ</li>
                }
                @if (!string.IsNullOrEmpty(Model.Remark))
                {
                    <li class="list-group-item">@Model.Remark</li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                if (user.Id== Model.Id)
                {
                    <a href="/User/Edit/@Model.Id">修改个人资料</a>
                }
            }
        </div>
    </div>

</div>


