@model PagedList.IPagedList<NW.Entity.ViewModels.vDemand>
@using PagedList.Mvc;
    @using NW.Utility;
    @{
        ViewBag.Title = "我要约";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<link href="~/Styles/demand.css" rel="stylesheet" />
    <div class="container">
            <div class="demand-header row">
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <p></p>
                    <p></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 demand-info-text">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#PushModal">提交课程需求</a>
                </div>
            </div>
            <div class="demand-body row">
                @foreach (var item in Model)
            {
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="demand-body-one inner-box">
                            <p class="demand-title text-primary">
                                <span class="col-lg-8 col-md-7 col-sm-6 text-left demand-info-title">
                                    <a href="/Demand/show/@item.Id">@item.Title</a>
                                </span>
                                @if (item.State == 0)
                                {
                                    <span class="col-lg-4 col-md-5 col-sm-6 text-center demand-info-state state-1">讨论中</span>
                                }
                                else if (item.State == 1)
                                {
                                    <span class="col-lg-4 col-md-5 col-sm-6 text-center demand-info-state state-2">制作中</span>
                                }
                                else if (item.State == 2)
                                {
                                    <span class="col-lg-4 col-md-5 col-sm-6 text-center demand-info-state state-3">完成</span>
                                }
                            </p>
                            <p class="demand-info text-muted">
                                <span class="col-lg-4 col-md-4 col-sm-4 text-left demand-info-username text-danger">@item.Username</span>
                                <span class="col-lg-4 col-md-4 col-sm-4 text-left demand-info-time">@Time.ToTimeTip(@item.DateTime)</span>
                                <span class="col-lg-4 col-md-4 col-sm-4 text-center glyphicon glyphicon-thumbs-up demand-info-vote-up" id="demand-info-vote-up-@item.Id">
                                    <strong class="demand-info-vote" id="demand-info-vote-@item.Id">@item.Vote</strong>
                                </span>
                            </p>
                            <p class="demand-text">@NW.Utility.String.SubString(@item.Text, 110, "...")</p>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    <!-- Modal -->
<div class="modal fade" id="PushModal" tabindex="-1" role="dialog" aria-labelledby="PushModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提交课程需求</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="demand-title" placeholder="标题">
                        </div>
                        <div class="col-sm-3">
                            <p class="text-primary" id="demand-title-warning-text">标题最多25个字</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Text" class="col-sm-2 control-label">需求</label>
                        <div class="col-sm-7">
                            <script id="container" name="content" type="text/plain">
                            </script>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-primary" id="demand-text-warning-text"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span id="demand-warning-text" class="warning"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-warning" id="demand_reset">重置</button>
                <button type="button" class="btn btn btn-primary" id="demand_sumbit">提交</button>
            </div>
        </div>
    </div>
</div>
 <!-- 配置文件 -->
<script type="text/javascript" src="~/Scripts/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/Scripts/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
        var ue = UE.getEditor('container', { initialFrameHeight: 280 });
</script>
<script type="text/javascript" src="~/Scripts/demand.js"></script>