@model PagedList.IPagedList<NW.Entity.ViewModels.vDemand>
@using PagedList.Mvc;
    @using NW.Utility;
    @{
        ViewBag.Title = "我要约";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<link href="~/Styles/demand.css" rel="stylesheet" />
    <div class="container">
            <div class="demand-header row">
                <div class="col-lg-8 col-md-10 col-sm-12 text-muted">
                    <p class="col-lg-2 col-md-3 col-sm-6 text-muted">总数：<a href="/Demand/Index?State=3">@ViewBag.StateNum</a></p>
                    <p class="col-lg-2 col-md-3 col-sm-6 text-danger">讨论中：<a href="/Demand/Index?State=0">@ViewBag.StateNum1</a></p>
                    <p class="col-lg-2 col-md-3 col-sm-6 text-info">制作中：<a href="/Demand/Index?State=1">@ViewBag.StateNum2</a></p>
                    <p class="col-lg-2 col-md-3 col-sm-6 text-success">完成：<a href="/Demand/Index?State=2">@ViewBag.StateNum3</a></p>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-12 demand-info-text">
                    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#PushModal">提交课程需求</a>
                </div>
            </div>
            <div class="demand-body row">
                @foreach (var item in Model)
                {
                    <article class="inner-box">
                        <div class="article-header">
                            <h2><a href="/Demand/Show/@item.Id">@NW.Utility.StringHelper.SubString(@item.Title, 45, "...")</a>
                            @if (item.State == 0)
                            {
                                <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-1">讨论中</span>
                            }
                            else if (item.State == 1)
                            {
                                <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-2">制作中</span>
                            }
                            else if (item.State == 2)
                            {
                                <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-3">完成</span>
                            }
                            </h2>
                            <div class="article-header-info">
                                <ul class="sub-item-ul text-muted">
                                    <li>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span class="text-success">@item.Username</span>
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                        <span class="text-info">@item.DateTime</span>
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-thumbs-up demand-info-vote-up" aria-hidden="true" id="demand-info-vote-up-@item.Id"></span>
                                        <span class="text-success demand-info-vote-up" id="demand-info-vote-@item.Id">@item.Vote</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="article-content markdown-body">
                            @(new HtmlString(item.Text))
                        </div>
                    </article>
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    <!-- Modal -->
<div class="modal fade" id="PushModal" tabindex="-1" role="dialog" aria-labelledby="PushModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提交课程需求</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="demand-title" placeholder="标题">
                        </div>
                        <div class="col-sm-3">
                            <p class="text-muted" id="demand-title-warning-text">(0/30)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Text" class="col-sm-2 control-label">需求</label>
                        <div class="col-sm-7">
                            <script id="container" name="text" type="text/plain">
                            </script>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-primary" id="demand-text-warning-text"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span id="demand-warning-text" class="warning"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-warning" id="demand_reset">重置</button>
                <button type="button" class="btn btn btn-primary" id="demand_sumbit">提交</button>
            </div>
        </div>
    </div>
</div>
 <!-- 配置文件 -->
<script type="text/javascript" src="~/Scripts/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/Scripts/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container', { initialFrameHeight: 280 });
</script>
<script type="text/javascript" src="~/Scripts/demand.js"></script>