@model NW.Entity.ViewModels.vDemand
@{
    ViewBag.Title = "我要约 详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/demand.css" rel="stylesheet" />
<div class="container">
    <div class="row" style="margin-top: 80px;">
        <article class="inner-box">
            <div class="article-header">
                <h2>
                    <a href="/Demand/Show/@Model.Id">@NW.Utility.StringHelper.SubString(@Model.Title, 45, "...")</a>
                    @if (Model.State == 0)
                    {
                        <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-1">讨论中</span>
                    }
                    else if (Model.State == 1)
                    {
                        <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-2">制作中</span>
                    }
                    else if (Model.State == 2)
                    {
                        <span class="pull-right col-lg-1 col-md-2 col-sm-3 text-center demand-info-state state-3">完成</span>
                    }
                </h2>
                <div class="article-header-info">
                    <ul class="sub-item-ul text-muted">
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="text-success">@Model.Username</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span class="text-info">@Model.DateTime</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-thumbs-up demand-info-vote-up" aria-hidden="true" id="demand-info-vote-up-@Model.Id"></span>
                            <span class="text-success demand-info-vote-up" id="demand-info-vote-@Model.Id">@Model.Vote</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article-content markdown-body">
                @(new HtmlString(Model.Text))
            </div>
        </article>
    </div>
</div>