@model PagedList.IPagedList<NW.Entity.Course>
@using PagedList.Mvc;
@{
    ViewBag.Title = "课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container top-1-8">
    @foreach (var item in Model)
    {
        <article class="inner-box">
            <div class="article-header">
                <h2><a href="/Course/Show/@item.Id">@item.Title</a></h2>
                <div class="article-header-info">
                    <ul class="sub-item-ul text-muted">
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="text-success">@item.Lecturer</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span class="text-info">@item.Time</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                            <span class="text-success">@item.Category</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            <span class="text-info">@item.Browses</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article-content markdown-body">
                @item.Description
            </div>
        </article>
    }

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

