@model NW.Entity.Course
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="inner-box top-1-8">
        <div class="article-header">
            <h2>@Model.Title</h2>
            <div class="article-header-info">
                <ul class="article-header-sub">
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="text-success">@Model.Lecturer</span></li>
                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="text-info">@Model.Time</span></li>
                    <li><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span class="text-success">@Model.Category</span></li>
                    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span class="text-info">@Model.Browses</span></li>
                </ul>
            </div>
        </div>
        <div class="article-content markdown-body">
            @Model.Description
        </div>
    </div>
    <div class="videoList">
    @if (Model.Videos.Count > 0)
            {
                foreach (var item in Model.Videos)
                {
            <div>
                <a href="/Video/Play/@item.Id">@item.Title</a> <span>发布时间：@item.Time</span> <span>查看次数：@item.Browses</span>
            </div>
        }
    }
    else
    {
        <text>暂无视屏</text>
    }
</div>

</div>
