@model PagedList.IPagedList<NW.Entity.ViewModels.vArticle>
@using PagedList.Mvc;
@{
    ViewBag.Title = "博客首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:80px;">
    @foreach (var item in Model)
    {
        <article class="inner-box">
            <div class="entry-header">
                <h2> <a href="/Blog/Show/@item.Id">@item.Title</a></h2>
                <div>
                    作者:<span>@item.Username</span> | 发表时间:<span>@item.Time</span> | 分类:<span>@item.Category</span> | 点击率:<span>@item.Browses</span>
                </div>
            </div>
            <div class="entry-content">
               @Html.Sanitized(@item.Description)
            </div>
        </article>
    }
</div>


