@model NW.Entity.ViewModels.vArticle
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container top-1-8">
    <article class="inner-box">
        <div class="article-header">
            <h2> <a href="/Blog/Show/@Model.Id">@Model.Title</a></h2>
            <div>
                <ul class="article-header-sub">
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>@Model.Username</span></li>
                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span>@Model.Time</span></li>
                    <li><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span>@Model.Category</span></li>
                    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span>@Model.Browses</span></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="article-content">
            @Html.Sanitized(Model.Description)
        </div>
    </article>
</div>

