@model NW.Entity.ViewModels.vArticle
@using NW.Entity;
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="container top-1-8">
    <article class="inner-box">
        <div class="article-header">
            <input type="hidden" value="@Model.Id" id="blogId" />
            <h2> <a href="/Blog/Show/@Model.Id">@Model.Title</a></h2>
            <div class="article-header-info">
                <ul class="sub-item-ul">
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="text-success">@Model.Username</span></li>
                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="text-info">@Model.Time</span></li>
                    <li><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span class="text-success">@Model.Category</span></li>
                    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span class="text-info">@Model.Browses</span></li>
                </ul>
            </div>
        </div>
        <div class="article-content markdown-body">
            @Html.Sanitized(Model.Description)
        </div>
    </article>

    <div class="inner-box">
        <form action="/Blog/Reply/@Model.Id" method="post">
            @Html.AntiForgeryToken()
            评论：
            <textarea name="Description" id="Description" class="form-control" rows="3"></textarea> <br />
            <input type="submit" class="btn btn-default" value="评论" />
        </form>
    </div>

    <div class="inner-box">
        <div class="block">
            @if (ViewBag.Replies.Count > 0)
            {
                <table class="replyList">
                    @foreach (var item in ViewBag.Replies as List<Reply>)
                {
                        <tr>
                            <td class="reply-user">
                                <div><a href="/User/Show/@item.UserId">@item.User.Username</a></div>
                                <div>
                                    @if (string.IsNullOrEmpty(item.User.Photo))
                                    {
                                        <img src="~/Images/user-default.png" class="face face-1-1" />
                                    }
                                    else
                                    {
                                        <img src="@item.User.Photo" class="face face-1-1" alt="@item.User.Username" />
                                    }
                                </div>
                            </td>
                            <td class="reply-content">
                                <div class="reply-content-sub">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span class="text-info">@item.Time</span>
                                </div>
                                <div class="reply-content-description">@Html.Raw(@item.Description)</div>
                                @if (item.Children.Count > 0)
                                {
                                    <div class="reply-content-children border-left">
                                        <table border="0" class="reReplyList">
                                            @foreach (var _item in @item.Children)
                                            {
                                                <tr>
                                                    <td style="text-align:center;">
                                                        <a href="/User/Show/@_item.UserId">
                                                            @if (string.IsNullOrEmpty(_item.User.Photo))
                                                            {
                                                                <img src="~/Images/user-default.png" class="face face-1-1" />
                                                            }
                                                            else
                                                            {
                                                                <img src="@_item.User.Photo" class="face face-1-1" alt="@_item.User.Username" />
                                                            }
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p class="text-muted" style="margin:0">
                                                            <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-right: 3px;"></span><span class="text-success user">@_item.User.Username</span>
                                                            <span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-left:20px;margin-right: 3px;"></span><span class="text-info">@_item.Time </span>
                                                        </p>
                                                        <p>@_item.Description</p>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                                <div class="reply-content-rbtn">
                                    <a href="javascript:void(0)" class="btnReReply">回复</a>
                                    <div class="rereply" style="display:none;">
                                        <form action="/Blog/Reply/@Model.Id" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="FatherId" value="@item.Id" />
                                            评论：
                                            <textarea name="Description" id="Description" class="form-control" rows="3"></textarea> <br />
                                            <input type="submit" class="btn btn-default" value="评论" />
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <text>暂无评论</text>
            }
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace('Description',
  {
      toolbar: 'Basic',
      width: "100%",
      height: "80px"
  });
</script>
