@model NW.Entity.ViewModels.vArticle
@using NW.Entity;
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container top-1-8">
    <article class="inner-box">
        <div class="article-header">
            <input type="hidden" value="@Model.Id" id="blogId" />
            <h2> <a href="/Blog/Show/@Model.Id">@Model.Title</a></h2>
            <div>
                <ul class="article-header-sub">
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>@Model.Username</span></li>
                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span>@Model.Time</span></li>
                    <li><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span>@Model.Category</span></li>
                    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span>@Model.Browses</span></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="article-content markdown-body">
            @Html.Sanitized(Model.Description)
        </div>
    </article>

    <div class="inner-box">
        <form action="/Blog/Reply/@Model.Id" method="post">
            @Html.AntiForgeryToken()
            评论：
            <textarea name="Description" class="form-control" rows="3"></textarea> <br />
            <input type="submit" class="btn btn-default" value="评论" />
        </form>
    </div>

    <div class="inner-box">
        <table border="1" class="replyList">
            @foreach (var item in ViewBag.Replies as List<Reply>)
            {
                <tr>
                    <td class="reply-user">
                        <div><a href="/User/Show/@item.UserId">@item.User.Username</div>
                        <div>
                            <img src="@item.User.Photo" width="60" height="60" alt="@item.User.Username" /> <br />
                        </div>
                    </td>
                    <td class="reply-content">
                        <div class="reply-content-sub">
                            时间:@item.Time
                        </div>
                        <div class="reply-content-description">@item.Description</div>
                        <div class="reply-content-children">
                            @if (item.Children != null)
                            {
                                <table border="1" class="reReplyList">
                                    @foreach (var _item in @item.Children)
                                    {
                                        <tr>
                                            <td style="text-align:center;">
                                                <img src="@_item.User.Photo" width="30" height="30" alt="@_item.User.Username" /> <br />
                                                @_item.User.Username
                                            </td>
                                            <td>
                                                时间：@_item.Time <br />
                                                @_item.Description
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        <div class="reply-content-rbtn">
                            <a href="javascript:void(0)" class="btnReReply">回复</a>
                            <div class="rereply" style="display:none;">
                                <form action="/Blog/Reply/@Model.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="FatherId" value="@item.Id" />
                                    评论：
                                    <textarea name="Description" class="form-control" rows="3"></textarea> <br />
                                    <input type="submit" class="btn btn-default" value="评论" />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

