@model NW.Entity.Plateforum
@{
    ViewBag.Title = "ForumShow";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font">
        </i><a href="/Admin/Home/Index">首页</a>
        <span class="crumb-step">&gt;</span><a class="crumb-name" href="/Admin/Forum/Index">论坛管理</a><span class="crumb-step">&gt;</span><span>板块展示</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <table class="insert-tab" width="100%">
            <tbody>
                <tr>
                    <th>标题：</th>
                    <td>
                        @Model.Title
                    </td>
                </tr>
                <tr>
                    <th>描述</th>
                    <td>
                        @Model.Description
                    </td>
                </tr>
                <tr>
                    <th>图片</th>
                    <td>
                        <img src="@Model.Picture" alt="@Model.Title" width="120" height="120" />
                    </td>
                </tr>
                <tr>
                    <th>时间</th>
                    <td>
                        @Model.Time
                    </td>
                </tr>
                <tr>
                    <th>是否开启</th>
                    <td>
                        @Model.IsClose
                    </td>
                </tr>
                <tr>
                    <th>浏览量</th>
                    <td>
                        @Model.Browses
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

