@model PagedList.IPagedList<NW.Entity.Log>
@using PagedList.Mvc;
@{
    ViewBag.Title = "日志管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/Admin/Home/Index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">日志管理</span>
    </div>
</div>
<div class="search-wrap">
    <div class="search-content">
        <form action="/Admin/Log/Index" method="get">
            <table class="search-tab">
                <tr>
                    <th width="120">选择类型:</th>
                    <td>
                        <select name="Type" id="">
                            <option value="">全部</option>
                            <option value="记录">记录</option>
                            <option value="异常">异常</option>
                        </select>
                    </td>
                    <th width="70">关键字:</th>
                    <td><input class="common-text" placeholder="关键字" name="Key" type="text"></td>
                    <td><input class="btn btn-primary btn2" name="sub" type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="result-wrap">
    <form name="myform" id="myform" method="post">
        <div class="result-title">
            <div class="result-list">
                <a id="batchDelLogs" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                    <th>ID</th>
                    <th>时间</th>
                    <th>线程</th>
                    <th>级别</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="tc"><input name="id" class="choose" value="@item.Id" type="checkbox"></td>
                        <td>@item.Id</td>
                        <td title="@item.Time">
                            <a href="/Admin/Log/Show/@item.Id" title="@item.Time">@item.Time</a>
                        </td>
                        <td>@item.Thread</td>
                        <td>@item.Level</td>
                        <td>@item.Type</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="link-update" href="/Admin/Log/Show/@item.Id">详情</a>
                            <a class="link-del" href="javascript:deleteDialog('/Admin/Log/Delete/@item.Id',@item.Id)">删除</a>
                        </td>
                    </tr>
                }
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </form>
</div>

