@model NW.Entity.Log
@{
    ViewBag.Title = "日志展示";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font">
        </i><a href="/Admin/Log/Index">首页</a>
        <span class="crumb-step">&gt;</span><a class="crumb-name" href="/Admin/Log/Index">日志管理</a><span class="crumb-step">&gt;</span><span>日志预览</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <table class="insert-tab" width="100%">
            <tbody>
                <tr>
                    <th>描述：</th>
                    <td>
                        @Model.Description
                    </td>
                </tr>
                <tr>
                    <th>时间</th>
                    <td>
                        @Model.Time
                    </td>
                </tr>
                <tr>
                    <th>类型</th>
                    <td>
                        @Model.Type
                    </td>
                </tr>
                <tr>
                    <th>级别</th>
                    <td>
                        @Model.Level
                    </td>
                </tr>
                <tr>
                    <th>线程</th>
                    <td>
                        @Model.Thread
                    </td>
                </tr>
                <tr>
                    <th>异常</th>
                    <td>
                        @Model.Exception
                    </td>
                </tr>
                <tr>
                    <th>IP</th>
                    <td>
                        @Model.Ip
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

