@model NW.Entity.Course
@using NW.Entity;
@{
    ViewBag.Title = "课程展示";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font">
        </i><a href="/Admin/Home/">首页</a>
        <span class="crumb-step">&gt;</span><a class="crumb-name" href="/Admin/Course/Index">课程管理</a><span class="crumb-step">&gt;</span><span>课程预览</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <table class="insert-tab" width="100%">
            <tbody>
                <tr>
                    <th width="120">分类：</th>
                    <td>
                        @Model.Category
                    </td>
                </tr>
                <tr>
                    <th>标题：</th>
                    <td>
                        @Model.Title
                    </td>
                </tr>
                <tr>
                    <th>封面：</th>
                    <td>
                        <img src="@Model.Cover" alt="@Model.Title" width="120" height="120" />
                    </td>
                </tr>
                <tr>
                    <th>主讲人</th>
                    <td>
                        @Model.Lecturer
                    </td>
                </tr>
                <tr>
                    <th>时间</th>
                    <td>
                        @Model.Time
                    </td>
                </tr>
                <tr>
                    <th>浏览量</th>
                    <td>
                        @Model.Browses
                    </td>
                </tr>
                <tr>
                    <th>内容：</th>
                    <td><div class="markdown-body">@MvcHtmlString.Create(@Model.Description)</div></td>
                </tr>
            </tbody>
        </table>

        <h2>视屏列表 <a href="/Admin/Video/Add">增加视屏</a></h2>
        <table class="result-tab">
            <tr>
                <th>ID</th>
                <th>课程</th>
                <th>标题</th>
                <th>分类</th>
                <th>添加时间</th>
                <th>权限</th>
                <th>操作</th>
            </tr>

            @foreach (var item in ViewBag.Videos as List<Video>)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Course.Title</td>
                    <td>@item.Title</td>
                    <td>@item.Category</td>
                    <td>@item.Time</td>
                    <td>@item.AuthorityAsInt</td>
                    <td><a href="/Admin/Video/Delete/@item.Id">删除</a>|<a href="/Admin/Video/Edit">修改</a></td>
                </tr>
            }

        </table>
    </div>
</div>

